{
  "discord": {
    "client_id": "CHANGEME-discord-client-id",
    "client_secret": "CHANGEME-discord-client-secret"
  },
  "github": {
    "client_id": "CHANGEME-github-client-id",
    "client_secret": "CHANGEME-github-client-secret"
  },
  "strava": {
    "client_id": "CHANGEME-strava-client-id",
    "client_secret": "CHANGEME-strava-client-secret"
  },
  "altcha": {
    "secret": "CHANGEME-generate-random-secret"
  },
  "jwt": {
    "internal_secret": "CHANGEME-generate-random-secret",
    "secret": "CHANGEME-generate-random-secret"
  },
  "oidc": {
    "cookie_keys": "CHANGEME-generate-random-secret"
  },
  "origin_verify": {
    "secret": "CHANGEME-generate-random-secret"
  },
  "runhuman": {
    "client_id": "CHANGEME-runhuman-client-id",
    "client_secret": "CHANGEME-runhuman-client-secret"
  },
  "strapi": {
    "oidc_client_id": "CHANGEME-strapi-oidc-client-id",
    "oidc_client_secret": "CHANGEME-strapi-oidc-client-secret",
    "admin_jwt_secret": "CHANGEME-generate-random-salt",
    "api_token_salt": "CHANGEME-generate-random-salt",
    "app_keys": "CHANGEME-generate-random-salt,CHANGEME-generate-random-salt",
    "jwt_secret": "CHANGEME-generate-random-salt",
    "transfer_token_salt": "CHANGEME-generate-random-salt",
    "admin_email": "admin@example.com",
    "admin_password": "CHANGEME-admin-password"
  },
  "gpxstudio": {
    "client_id": "CHANGEME-gpxstudio-client-id",
    "client_secret": "CHANGEME-gpxstudio-client-secret"
  },
  "flash": {
    "client_id": "CHANGEME-flash-client-id",
    "client_secret": "CHANGEME-flash-client-secret"
  },
  "mapbox": {
    "public_token": "pk.CHANGEME-mapbox-public-token"
  }
}
