HOSTNAME=0.0.0.0
NEXTAUTH_URL=http://localhost:3000

AUTH_DYNAMODB_ENDPOINT=http://localhost:8989
AUTH_DYNAMODB_DBNAME=auth

AUTH_SES_ACCESS_KEY_ID=arn:aws:ssm:us-east-1:427284555693:parameter/dc34/ses/smtp/default/auth.defcon.run/username
AUTH_SES_SECRET_ACCESS_KEY=arn:aws:ssm:us-east-1:427284555693:parameter/dc34/ses/smtp/default/auth.defcon.run/password
AUTH_SES_REGION=us-east-1
AUTH_SES_SMTP_FROM="no-reply@auth.defcon.run"
AUTH_GITHUB_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/github/id
AUTH_GITHUB_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/github/secret
AUTH_STRAVA_CLIENT_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/strava/id
AUTH_STRAVA_CLIENT_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/strava/secret
AUTH_DISCORD_CLIENT_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/discord/id
AUTH_DISCORD_CLIENT_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/discord/secret
AUTH_LINKEDIN_CLIENT_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/linkedin/id
AUTH_LINKEDIN_CLIENT_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/linkedin/secret

AUTH_JWT_SECRET=devdevdev
AUTH_DYNAMODB_ID=local
AUTH_DYNAMODB_SECRET=local
AUTH_DYNAMODB_REGION=us-east-1