# Ignore meshtk Go source (copied at build time from ~/working/meshtk)
meshtk/*
!meshtk/Dockerfile.meshtk
!meshtk/VERSION
!meshtk/meshtk.dc34.yaml
!meshtk/meshtk.localdev.yaml
!meshtk/nodes.ghost.*.json
!meshtk/nodes.rabbit.*.json
